<nav class="appbar">
  <ul>
    <li>
      {{#link-to "about"}}
        <i class="fa fa-question-circle"></i>
        About
      {{/link-to}}
    </li>
    <li>
      {{#link-to "items"}}
        <i class="fa fa-th"></i>
        Items
      {{/link-to}}
    </li>
  </ul>
</nav>

{{outlet}}
